#-------------------------------------------------------------------------------------------
#  Copyright (c) 2016-2025.  SupportVectors AI Lab
#
#  This code is part of the training material, and therefore part of the intellectual property.
#  It may not be reused or shared without the explicit, written permission of SupportVectors.
#
#  Use is limited to the duration and purpose of the training at SupportVectors.
#
#  Author: SupportVectors AI Training
#-------------------------------------------------------------------------------------------

#
# Since most our projects will need the configuration
# utility, this fixes the directory where to find them.
#
export BOOTCAMP_ROOT_DIR="/Users/chandarl/Documents/GitHub/llm_bootcamp_curriculum/topics/chunking_pipeline"

#
# Project's Python executable path
# Points to the virtual environment's Python interpreter
#
export PROJECT_PYTHON="/Users/chandarl/Documents/GitHub/llm_bootcamp_curriculum/topics/chunking_pipeline/.venv/bin/python"

#
# Precaution, needed for some IDEs
# to recognize that the main svlearn library code
# is in the src/ sub-directory
#
export PYTHONPATH="/Users/chandarl/Documents/GitHub/llm_bootcamp_curriculum/topics/chunking_pipeline/src"

# The OpenAI Key (Replace with your own key)
export OPENAI_API_KEY=your-openai-key

